//-----------------------------------------
//--------Generated text section styles----
//-----------------------------------------

section.bottom-section {
    background: rgba(5, 10, 20, 1);
}

.generated-output {
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generated-output h2,
.generated-output p {
    color: $highlightBlue;
}

//----------------------------------------
//------media queries for responsive------
//----------------------------------------

@media (max-width: 500px) {
    p {
        font-size: 1.1rem;
    }
}



