section.bottom-section {
    background: rgba(5, 10, 20, 1);
}

.generated-output {
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generated-output h2,
.generated-output p {
    color: $highlightBlue;
}



