//-----------------------------------------
//--------Generated text section styles----
//-----------------------------------------

section.bottom-section {
    background: rgba(5, 10, 20, 1);
}

.generated-output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//class that's dynamically added to generated content container so site starts off as 100vh
.add-padding-when-generated {
    padding: 75px 0;
}

.generated-output h2,
.generated-output p {
    color: $highlightBlue;
}
 
h2.scroll-down-notification {
    margin: 0 auto;
}

//----------------------------------------
//------media queries for responsive------
//----------------------------------------

@media (max-width: 500px) {
    p {
        font-size: 1.1rem;
    }
}



