//------------------------------------------------------------
//----------wrapper and background styles for start page------
//------------------------------------------------------------
h1 {
    color: $highlightBlue;
    font-size: 3.6rem;
}

.start-page {
    background-image: url("../assets/city-hall-night.jpg");
    background-size: cover;
    background-position: center 65%;
    background-repeat: none;
    height: 100vh;
}

.start-page .inner-wrapper {
    padding: 7.5vh 0;
}

.start-page-content-box {
    padding: 5vh 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $round-borders;
    background-color: rgba(5, 10, 20, 0.85);
}

//----------------------------------------
//------media queries for responsive------
//----------------------------------------

@media (max-width: 950px) {
    //reduce header font size
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
}

@media (max-width: 700px) {
    //add some padding to side of inner box
    .start-page-content-box {
        padding: 25px 5%; 
    }

    h1 {
        font-size: 2.25rem;
    }

}

@media (max-width: 475px) {
    //add some padding to side of inner box
    .start-page-content-box {
        padding: 15px 2%;
    }

    .start-page .inner-wrapper {
        padding: 2.5vh 0;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 2rem;
    }

    .start-page-content-box {
        padding: 10px 2%;
    }
}