section.userInput {
    height: 50vh;
}

form {
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 25px;
    width: 35%;
    height: 15%;
    border-radius: 10px;
}


.userInput .outerWrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}