form {
    width: 100%;
}

h2 {
    margin: 25px 0 75px 0;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

output {
    margin-top: 15px;
}

button {
    width: 45%;
    border-radius: $round-borders;
    padding: 25px 0;
    margin: 50px auto 0 auto;
    display: block;
    border: 2px $highlightBlue solid;
    background-color: $shadowBlue; 
    color: $highlightBlue;
    transition: 0.25s;
}

button:hover {
    background-color: $highlightBlue;
    border: 2px $shadowBlue solid;
    color: $shadowBlue;
}

button:active {
    background-color: $midtoneBlue; 
    color: $highlightBlue;
    border: 2px $highlightBlue solid;
}

input {
    width: 50%;
}

label {
    width: 30%;
    color: $greyBlue;
}

fieldset {
    width: 100%;
    border: none; 
    padding: 25px 0;
    background-color: rgba(239,246,255, 0.75);
    border-radius: $round-borders;
    border: 1px solid $midtoneBlue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


//-------------------------------------------------------------------------------
//-----------input range slider styles-------------------------------------------
//---------much harder than it should be-----------------------------------------
//--------based on examples by Daniel Stren--------------------------------------
//---https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/---
//-------------------------------------------------------------------------------

//--------------------------------------------
//------------Style slider thumb-thingy-------
//--------------------------------------------

//webkit/blink specific styling
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -14px;
    @include slider-thumb();
}

//firefox styles
input[type=range]::-moz-range-thumb {
    @include slider-thumb();
}

//ie styles
input[type=range]::-ms-thumb {
    @include slider-thumb();
}

//---------------------------------------------
//------------Style slider track---------------
//---------------------------------------------

input[type=range]::-webkit-slider-runnable-track {
    @include slider-track();
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $accentOrange;
}

input[type=range]::-moz-range-track {
    @include slider-track();
}
