section.user-input {
    height: 50vh;
    background: linear-gradient(rgba(239,246,255, 0.9), rgba(239,246,255, 0.9)), url(../assets/city-hall.jpg);
    background-size: cover;
    background-position: center center;
}

form {
    height: 100%;
    padding-bottom: 50px ; 
}

h2, label {
    color: $greyBlue;
}

label {
    // margin-bottom: 15px;
    
    width: 30%;
    float: left;
}

output {
    margin-top: 15px;
}

button {
    // margin-top: 25px;
    width: 45%;
    border-radius: 10px;
    padding: 25px 0;
    margin: 25px auto 0 auto;
    display: block;
    border: none;
    background-color: #f71a0e;
    color: #eff6ff;
}

input {
    margin-top: 7px;
    width: 63%;
    float: right;
}

fieldset {
    width: 100%;
    height: 100%;
    border: none;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
}

.user-input .outer-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

//-------------------------------------------------------------------------------
//-----------input range slider styles-------------------------------------------
//---------much harder than it should be-----------------------------------------
//--------based on examples by Daniel Stren--------------------------------------
//---https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/---
//-------------------------------------------------------------------------------

//--------------------------------------------
//------------Style slider thumb-thingy-------
//--------------------------------------------

//webkit/blink specific styling
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -14px;
    @include slider-thumb();
}

//firefox styles
input[type=range]::-moz-range-thumb {
    @include slider-thumb();
}

//ie styles
input[type=range]::-ms-thumb {
    @include slider-thumb();
}

//---------------------------------------------
//------------Style slider track---------------
//---------------------------------------------

input[type=range]::-webkit-slider-runnable-track {
    @include slider-track();
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $accentOrange;
}

input[type=range]::-moz-range-track {
    @include slider-track();
}
