//-------------------------------------------------
//--------Main section styles / input area---------
//-------------------------------------------------

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2 {
    margin: 25px 0 5px 0;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.selectors {
    width: 100%;
    text-align:center;
}

select { 
    border-radius: $round-borders;
    font-size: 1.2rem;
    height: 4.5vh;
}

output {
    margin-top: 15px;
}

button {
    width: 45%;
    border-radius: $round-borders;
    padding: 25px 0;
    margin: 50px auto 0 auto;
    display: block;
    border: 2px $highlightBlue solid;
    background-color: $shadowBlue; 
    color: $highlightBlue;
    transition: 0.25s;
}

button:hover {
    background-color: $highlightBlue;
    border: 2px $shadowBlue solid;
    color: $shadowBlue;
}

button:active {
    background-color: $midtoneBlue; 
    color: $highlightBlue;
    border: 2px $highlightBlue solid;
}

label {
    margin-right: 10px;
    color: $greyBlue;
}

.selector-area {
    padding: 10px 0;
    margin-top: 20px;
    background-color: rgba(239,246,255, 0.75);
    border-radius: $round-borders;
    border: 1px solid $midtoneBlue;
}


//----------------------------------------
//------media queries for responsive------
//----------------------------------------

@media (max-width: 950px) {
    //reduce heading font size
    h2 {
        font-size: 1.75rem;
        text-align: center;
    }

    //reduce font size for labels
    label {
        font-size: 0.9rem;
    }
}

//realign some of the input fields
@media (max-width: 600px) {
    button {
        margin-top: 25px;
    }

    label {
        margin: 0 0 5px 0;
    }

    select { 
        font-size: 1rem;
    }

    .selector-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    select {
        width: 50%;
    }
}

@media (max-width: 475px) {
    h2 {
        font-size: 1.25rem;
        margin: 10px auto 0 auto;
    }

    .selector-area {
        margin-top: 10px;
    }

    form {
        padding: 5vh 0;
    }
}