//-------------------------------
//-----------Colors--------------
//-------------------------------

$shadowBlue: #214C80;
$highlightBlue: #eff6ff;
$midtoneBlue: #4297FF;
$greyBlue: #232e3a;
$midShadowBlue: #3579CC;
$accentOrange: #f71a0e;

//-------------------------
//------border styles------
//-------------------------
$round-borders: 20px;
