article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.outer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.inner-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

body {
  font-size: 125%;
}

h1, h2, button, label {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 2.25rem;
  color: #eff6ff;
}

p, select {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #eff6ff;
  font-size: 3.6rem;
}

.start-page {
  background-image: url("../assets/city-hall-night.jpg");
  background-size: cover;
  background-position: center 65%;
  background-repeat: none;
  height: 100vh;
}

.start-page .inner-wrapper {
  padding: 7.5vh 0;
}

.start-page-content-box {
  padding: 5vh 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: rgba(5, 10, 20, 0.85);
}

@media (max-width: 950px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .start-page-content-box {
    padding: 25px 5%;
  }
  h1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 475px) {
  .start-page-content-box {
    padding: 15px 2%;
  }
  .start-page .inner-wrapper {
    padding: 2.5vh 0;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  .start-page-content-box {
    padding: 10px 2%;
  }
}

form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h2 {
  margin: 25px 0 5px 0;
}

.user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.selectors {
  width: 100%;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

select {
  border-radius: 20px;
  font-size: 1.2rem;
  height: 4.5vh;
}

select:focus {
  outline: 3px solid #eff6ff;
}

label {
  margin-right: 10px;
  color: #eff6ff;
}

label:focus {
  outline: 3px solid #eff6ff;
}

.selector-area {
  margin-top: 15px;
}

.categories {
  margin-top: 20px;
}

input[type=checkbox] {
  position: absolute;
  left: -100%;
}

.categories label {
  margin: 0 30px;
  font-size: 1.5rem;
  padding: 25px 20px;
  border-radius: 20px;
  border: 2px #eff6ff solid;
  background-color: #214C80;
  color: #eff6ff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

input[type=checkbox]:focus + label {
  outline: 3px solid #eff6ff;
}

button {
  font-size: 2rem;
  width: 45%;
  padding: 25px 0;
  margin: 50px auto 0 auto;
  display: block;
  border-radius: 20px;
  border: 2px #eff6ff solid;
  background-color: #214C80;
  color: #eff6ff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover,
.categories label:hover {
  background-color: #eff6ff;
  border: 2px #214C80 solid;
  color: #214C80;
}

button:active,
.categories label:active {
  background-color: #4297FF;
  color: #eff6ff;
  border: 2px #eff6ff solid;
}

button:focus {
  outline: 3px solid #eff6ff;
}

@media (max-width: 950px) {
  h2 {
    font-size: 1.75rem;
    text-align: center;
  }
  label {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .categories label {
    margin: 10px 0;
    font-size: 1rem;
  }
  button {
    margin: 10px auto 0 auto;
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 1.25rem;
    margin: 10px auto 0 auto;
  }
  .selector-area {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  button {
    margin-top: 0px;
    padding: 20px 0;
  }
  label {
    margin: 0 0 5px 0;
  }
  select {
    font-size: 1rem;
  }
  .selector-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  select {
    width: 50%;
  }
  .categories label {
    padding: 20px 15px;
  }
}

@media (max-width: 475px) {
  .selector-area {
    margin-top: 10px;
  }
  form {
    padding: 3vh 0;
  }
  .categories label {
    font-size: 0.75rem;
    padding: 20px 15px;
  }
}

@media (max-width: 400px) {
  form {
    padding: 0;
  }
  .categories label {
    padding: 17px 15px;
  }
  button {
    padding: 20px 0;
    font-size: 1.25rem;
  }
}

section.bottom-section {
  background: #050a14;
}

.generated-output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-padding-when-generated {
  padding: 75px 0;
}

.generated-output h2,
.generated-output p {
  color: #eff6ff;
}

h2.scroll-down-notification {
  margin: 0 auto;
}

@media (max-width: 500px) {
  p {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */